* {
    padding: 0;
    margin: 0;
}
h1{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.tablero{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.fila{
    display: flex;
    justify-content: center;
}
.cuadrado1{
    padding: 25px;
    background-color: red;
}
.cuadrado2{
    padding: 25px;
    background-color: black;
}